<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> 首页 </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)"><i class="icon-puzzle"></i> 系统管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="userManage.html#1234">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="roleManage.html#1234">角色管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="param.html">参数设置</a>
                </li> 
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <!-- 带有.nav-dropdown-toggle  必须href="javascript:viod(0)" 利于实现"是当前页面" 添加active-->
            <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)"><i class="icon-star"></i>设备管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="map.html">设备分布</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="device.html#123">设备列表</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="message.html"><i class="icon-calculator"></i>消息中心</a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)"><i class="icon-pie-chart"></i>订单管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="fileImport.html">订单上传</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="limitBlack.html"><i class="icon-calculator"></i>黑名单</a>
        </li>

    </ul>
</nav>